body {
    background-color: #1B998B;
}

.header {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.5em;
    color: #FACFAD;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

textarea {
    color: #3E4E50;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.4em;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    /*background: rgba(255, 255, 255, 0.5);*/
    background: #FED766;
    backdrop-filter: blur(2px);
    overflow: auto;
    outline: none;
}

a.button2 {
    position: relative;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin-top: 9px;
    margin-left: 43em;
    margin-right: 0em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

a.button2:hover {
    color: #DDDDDD;
    border-color: #009FB7;
}

a.button2:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

.google-blue {
    position: relative;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin-top: 9px;
    margin-left: 61em;
    margin-right: 0em;
    box-sizing: border-box;
    background-color: #4D90FE;
    background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -moz-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: white;
}

.google-blue:hover {
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);
    background-image: -moz-linear-gradient(top, #4D90FE, #357AE8);
    background-image: -ms-linear-gradient(top, #4D90FE, #357AE8);
    background-image: -o-linear-gradient(top, #4D90FE, #357AE8);
    background-image: linear-gradient(top, #4D90FE, #357AE8);
    border: 1px solid #3079ED;
}